# Claude auth. Get by running `claude setup-token`
CLAUDE_CODE_OAUTH_TOKEN=

# GitHub token. Create via Website, or with `gh auth login` and `gh auth token`. Must have access to OrchLab-AI Org.
GH_TOKEN=